@use 'sass:math';

@import 'base/mixins.scss';

$fontFamily: 'Libre Franklin';

// font-size
$fontSize: rem(14);

// main colors
$mainColor: #000;

// min width page
$minWidth: 320;
$maxWidth: 1440;
// container width
$maxWidthContainer: 1440;

$containerPadding: 10;

$responsiveType: 1;

$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

@import 'base/null';

body {
  // blocked scroll
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  // page loaded
  .loaded & {
  }
}
// wrapper
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #e5e5e5;
  color: #000;
  //  footer down
  > main {
    flex: 1 1 auto;
  }
  > * {
    min-width: 0;
  }
}

@if ($responsiveType==1) {
  // sensetive
  [class*='__container'] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  [class*='__container'] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

@import 'base';

@import 'common';

@import 'header';
@import 'footer';

@import 'index';
@import 'home';

// full article styles
@import 'article';
// styles for comments
@import 'comments';
// some ui styles
@import 'ui';
@import 'slick';
@import 'addarticle';
